.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 244, 249);
    padding: 5px;
  }
  .header a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 244, 249);
    padding: 20px;
  }